{% extends 'index.html' %}

{% block content %}


<h1>Product Detail</h1>

<h2>{{ product.title }} {{ product.rate }}</h2>

<p>{{ product.text }}</p>

<img width="150" src="/media/{{ products.image }}">

<p>{{ product.created_at }}</p>

{% for category in product.categories.all %}
    <a class="btn btn-primary" href="#">
        <p>
            {{ category.name }}
        </p>
    </a>
{% endfor %}

{% for review in product.reviews.all %}
        <p>
            {{ review.text }}
        </p>
{% endfor %}

{% endblock %}