{% extends 'index.html' %}

{% block content %}


<h1>Product Detail</h1>

<h2>{{ product.title }} {{ product.rate }}</h2>

<p>{{ product.text }}</p>

<img width="150" src="/media/{{ products.image }}">

<p>{{ product.created_at }}</p>

{% for category in products.categories.all %}
    <a class="btn btn-primary" href="#">
        <p>
            {{ category.name }}
        </p>
    </a>
{% endfor %}

{% for review in product.reviews.all %}
        <p>
            {{ review.text }}
        </p>
{% endfor %}

<h1> Create a review</h1>

<form action=/products/create_review/> method="REVIEW" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
<!--    <button type="submit">Submit</button>-->
</form>

<a href="/products/create_review/" class="review-button">Write a Review</a>

{% endblock %}
